* {
  font-family: FontAwesome, Iosevka Comfy Duo, Hack, sans-serif;
  font-size: 13px;
  border-radius: 0;
}

window#waybar {
  background-color: rgba(43, 48, 59, 0.5);
  border-bottom: none;
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: #ffffff;
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each workspace name */
  border: none;
  border-radius: 0;
}

#workspaces button.active {
  border-radius: 4px;
  color: #ffffff;
  background-color: #7cafc2;
}

#workspaces button.urgent {
  border-radius: 4px;
  color: #ffffff;
  background-color: #eb4d4b;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.focused {
  background-color: #64727d;
  box-shadow: inset 0 -3px #ffffff;
}

#clock,
#tray,
#disk,
#pulseaudio,
#battery {
  padding: 0 10px;
  background-color: transparent;
  color: #ffffff;
}

#battery.charging,
#battery.plugged,
#battery.full {
  color: #ffffff;
  background-color: transparent;
  /* background-color: #26a65b; */
}
